<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Inference</title>
    <link rel="icon" href="https://www.sambanova.ai/favicon.ico" type="image/ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="container inference mt-5 mb-5">
    <h1 class="text-center">Cloud Inference Demo</h1>
    <form id="inference-form" class="inference-form" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="services">Select Inference Services to Compare:</label>
            <select class="form-control selectpicker" id="services" name="services" multiple="multiple" required>
            </select>
        </div>

        <div class="form-group">
            <label for="prompt">Enter your prompt:</label>
            <textarea class="form-control" id="prompt" name="prompt" rows="3" required></textarea>
        </div>
        
        <div class="form-group">
            <label for="streaming">Enable Streaming:</label>
            <input type="checkbox" id="streaming" name="streaming" value="true" />
        </div>
        
        <div class="form-group">
            <label for="file">Upload Image or Audio (optional):</label>
            <div class="file-selection">
                <input type="file" class="form-control-file col-md-6" id="fileInput" name="file" accept="image/*,audio/*" style="display: block; margin-bottom: 10px;" />
            </div>
        </div>

        <button type="submit" class="btn btn-submit ">Submit</button>
    </form>

    <!-- Loading Indicator -->
    <div id="loading-indicator" class="loading mt-1 mb-1" style="display:none;">
        <span>.</span><span>.</span><span>.</span>
    </div>

    <!-- Results Section -->
    <div id="results" class="row mt-1 mb-5"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.5/dist/purify.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

<!-- Link to the external demo.js file -->
<script src="static/demo.js"></script>

</body>
</html>
